[submodule "plugins/redmine_slack"]
	path = plugins/redmine_slack
	url = https://github.com/sciyoshi/redmine-slack.git
[submodule "plugins/redmine_drawio"]
	path = plugins/redmine_drawio
	url = https://github.com/mikitex70/redmine_drawio.git
[submodule "themes/gitmike"]
	path = themes/gitmike
	url = https://github.com/makotokw/redmine-theme-gitmike.git
[submodule "plugins/redmine_searchable_selectbox"]
	path = plugins/redmine_searchable_selectbox
	url = https://github.com/farend/redmine_searchable_selectbox.git
[submodule "plugins/redmine_issue_templates"]
	path = plugins/redmine_issue_templates
	url = https://github.com/agileware-jp/redmine_issue_templates.git
[submodule "plugins/view_customize"]
	path = plugins/view_customize
	url = https://github.com/onozaty/redmine-view-customize.git
[submodule "plugins/redmine_absolute_dates"]
	path = plugins/redmine_absolute_dates
	url = https://github.com/suer/redmine_absolute_dates.git
