[submodule "plugins/redmine_slack"]
	path = plugins/redmine_slack
	url = https://github.com/sciyoshi/redmine-slack.git
[submodule "plugins/redmine_drawio"]
	path = plugins/redmine_drawio
	url = https://github.com/mikitex70/redmine_drawio.git
[submodule "plugins/redmine_issue_dynamic_edit"]
	path = plugins/redmine_issue_dynamic_edit
	url = https://github.com/Ilogeek/redmine_issue_dynamic_edit.git
[submodule "themes/gitmike"]
	path = themes/gitmike
	url = https://github.com/makotokw/redmine-theme-gitmike.git
[submodule "plugins/redmine_searchable_selectbox"]
	path = plugins/redmine_searchable_selectbox
	url = https://github.com/farend/redmine_searchable_selectbox.git